# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
At.TAIR10.cds.fa
At.TAIR10.cds.fa.nhr
At.TAIR10.cds.fa.nin
At.TAIR10.cds.fa.nsq
brassica_rapa_v15_final_transcripts.bed
Brapa_CDS_lengths.txt
Brapa_CDS_lengths.txt.1
Brapa_CDS_lengths.txt.2
Brassica_rapa_final_CDS.fa
FileS11.txt
FileS11.txt.1
FileS11.txt.2
FileS4.zip
